/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-weight: normal;
}

.paper-text {
  min-height: 300px;
  min-width: 300px;
}